
@model crud.Models.LoginUser
<html>

    <head>
        <meta charset='utf-8'>
        <title>Portfolio</title>
       
        <style>
            body{
                background:linear-gradient(370deg, lavender,lavenderblush);
                height:900px;
            }
            .navSub{
                display: inline-block;
               
                text-align: justify;
            }
            #container{
                width:900px;
                padding:50px;
                background:linear-gradient(370deg,ghostwhite,whitesmoke);
         
                margin-top:30px;
                border-radius:8px;
                /* box-shadow: 5px 14px 27px 19px lightpink inset; */
                text-align: center;
            }
           
            button{
                border-radius: 8px;

            }
            #nav{
                color:thistle;
            }


            span{
                text-decoration: underline;
                font-weight: bold;
            }

            .sub{
                /* box-shadow: -1px -3px 27px 5px rgb(189, 189, 189) inset; */
                border-radius:8px;
                border:1px solid black;
                min-width:150px;
                max-width: 200px;
                text-align: left;
                color:black;
                padding:10px;
                margin:5px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("#feed").click(function(){
                $("#full").load("demo_test.txt");
            });
        });
        </script>
    </head>
    <body>
        <div id = "nav">
            <h1>Register to this site!</h1>
            <button><a href="/register">Register</a></button>
        </div>
        <div id = "container">
            
            <form asp-action="login">
                <span asp-validation-for="Email"></span>                
                <label>Email: </label>
                <input asp-for="Email"><br>
                
                <span asp-validation-for="Password"></span>
                <label>Password: </label>
                <input asp-for="Password"><br>
            
                <button type="submit">Login</button>
            </form>
            </div>
            


    </body>

</html>
